<p ng-if="error" class="alert alert-warning" style="margin-bottom: 0px;">{{error}}</p>
<p ng-if="loading" 
    class="text-muted" 
    style="padding-left: {{indent}}em; height: 27px">
    <i class="fa fa-cog fa-spin"></i> Loading files...
</p>
<p ng-if="files.length == 0" 
    style="padding-left: {{indent}}em; height: 27px"
    class="slide-down sca-product-raw-file">
    <span class="text-muted">(empty)</span>
</p>

<div ng-repeat-start="file in files" class="slide-down sca-product-raw-file">

    <!--modified date-->
    <span class="sca-product-raw-item sca-product-raw-modified" title="{{file.attrs.mtime*1000|date:'medium'}}">
        {{file.attrs.mtime*1000|timeAgo}}
    </span>

    <!--filesize-->
    <span class="sca-product-raw-item sca-product-raw-size text-muted" style="text-align: right;">
        {{file.attrs.size|bytes}}
    </span>

    <!--
    <span class="sca-product-raw-item sca-product-raw-ctrl text-muted" ng-click="">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </span>
    -->
    <div class="dropdown sca-product-raw-item sca-product-raw-ctrl">
      <div class="dropdown-toggle" data-toggle="dropdown">
         <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
      <ul class="dropdown-menu">
         <li><a href="#" ng-click="download($event, file)">Download</a></li>
      </ul>
    </div>

    <!-- name-->
    <span 
        ng-click="click(file)"
        style="padding-left: {{indent}}em;"
        class="sca-product-raw-item sca-product-raw-name">

        <!--directory icon -->
        <span ng-if="file.attrs.mode_string[0] == 'd'" style="color: #008cba">
            <i class="fa fa-folder" ng-if="!file.open"></i>
            <i class="fa fa-folder-open" ng-if="file.open"></i>
        </span>

        <!--file icon-->
        <span ng-if="file.attrs.mode_string[0] == '-'">
            <i class="fa fa-file-o text-muted"></i>
        </span>

        <!--links-->
        <span ng-if="file.attrs.mode_string[0] == 'l'">
            <i class="fa fa-link text-muted"></i>
        </span>
        &nbsp;
        {{file.filename}}
    </span>
    <br clear="both">
</div>
<sca-product-raw-dir ng-repeat-end 
    indent="indent+1" 
    taskid="taskid" 
    path="file.path" 
    ng-if="file.open">
</sca-product-raw-dir>


