<div ng-if="$ctrl.files.length == 0" 
    style="padding-left: {{$ctrl.indent}}em; height: 27px"
    class="slide-down sca-product-raw-file">
    <span class="text-muted">(empty)</span>
</div>

<!-- it's usually very quick, so there is not much point
<div ng-if="$ctrl.loading"
    style="padding-left: {{$ctrl.indent}}em"
    class="text-muted sca-product-raw-name">
    <i class="fa fa-cog fa-spin"></i> Loading ...
</div>
-->

<div ng-repeat-start="file in $ctrl.files" class="slide-down sca-product-raw-file" ng-click="click(file)">

    <!--modified date-->
    <span class="sca-product-raw-item sca-product-raw-modified">{{file.attrs.mtime*1000|timeAgo}}</span>

    <!--filesize-->
    <span class="sca-product-raw-item sca-product-raw-size text-muted" style="text-align: right;">
        {{file.attrs.size|bytes}}
    </span>

    <span class="sca-product-raw-item sca-product-raw-ctrl text-muted"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>

    <span 
        style="padding-left: {{$ctrl.indent}}em;"
        class="sca-product-raw-item sca-product-raw-name">

        <!--directory icon -->
        <span ng-if="file.attrs.mode_string[0] == 'd'" style="color: #008cba">
            <i class="fa fa-folder" ng-if="!file.open"></i>
            <i class="fa fa-folder-open" ng-if="file.open"></i>
        </span>

        <!--file icon-->
        <span ng-if="file.attrs.mode_string[0] == '-'">
            <i class="fa fa-file-o text-muted"></i>
        </span>

        <!--links-->
        <span ng-if="file.attrs.mode_string[0] == 'l'">
            <i class="fa fa-link text-muted"></i>
        </span>
        &nbsp;
        {{file.filename}}
    </span>
    <br clear="both">
</div>

<sca-product-raw-dir ng-repeat-end
    indent="$ctrl.indent+1" 
    taskid="$ctrl.taskid" path="file.path" 
    ng-if="file.open">
</sca-product-raw-dir>

